
$icon1Color : #777777;

@mixin inputSearch {
    height: 1.2cm;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    background-color: #f2f2f2;

}

.heaadbar{
    display: flex;
    height: 60px;
    align-items: center;
    flex-direction: row;

    .menu {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 50%;
    }

    .menu span{
        display: none;
    }

    .menu:hover {
        background-color: #d3d0d0;
        border-radius: 50%;
    
}

    .name{
        margin-right: 8%;
        padding: 0.6rem;
    }
    

.search-bar{
    align-items: center;
    display: flex;
    width: 50%;
    flex-direction: row;
    border-radius: 7px;
    padding-left: 1rem;
    background-color: #f2f2f2;
    border-style: solid;
    border-width: thin;
    .search{
        margin-right: 1rem;
    }
    .input-search{
        @include inputSearch();
    }
    #search-icon{
    align-self: center;
    }

}

.search-bar:hover{
    background-color: white;
}

.search-bar .input-search:hover{
    background-color: white;
}

.searchIcon{
    display: flex;
}

.nav-right-icon{
     width: 30%;
     display: flex;
     align-items: center;
     justify-content: end;
}
}

.drawer{
   z-index: 1;
}

@media only screen and (max-width:550px){
    .heaadbar{
        height: 50px;
        font-size: small;
    .heaadbar{ 
        .input-search{
            height: 0.5cm;
        }   
        .nav-right-icon{
            height: 3px;
        }
        .menu {
            font-size: small;
        }
    
        .name{
            font-size: small;
        }
    }
}
}
    
